In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg

spark = SparkSession.builder.appName("Bike Sales Review").getOrCreate()

bike_sales = spark.read.csv("bike_sales_india.csv", header=True, inferSchema=True)
result = bike_sales.filter((col("Year of Manufacture") >= 2016) &\
                           (col("Year of Manufacture") <= 2019)& \
                           (col("Owner Type") == "First")&\
                           (col("City Tier").isin('Tier 1','Tier 2')))\
                           .groupBy("Brand", "State", "Year of Manufacture")\
.agg(avg("Mileage (km/l)").alias("Average Mileage")).orderBy("State", "Brand").show()

+-------------+-----+-------------------+------------------+
|        Brand|State|Year of Manufacture|   Average Mileage|
+-------------+-----+-------------------+------------------+
|        Bajaj|Delhi|               2017|             37.42|
|        Bajaj|Delhi|               2016|            46.945|
|        Bajaj|Delhi|               2018|             70.94|
|        Bajaj|Delhi|               2019|             73.38|
|         Hero|Delhi|               2018|             99.74|
|         Hero|Delhi|               2019|             38.32|
|         Hero|Delhi|               2017|             74.84|
|         Hero|Delhi|               2016|             76.68|
|        Honda|Delhi|               2018| 86.45333333333333|
|        Honda|Delhi|               2017|              87.0|
|        Honda|Delhi|               2019| 60.26333333333334|
|        Honda|Delhi|               2016|             88.64|
|          KTM|Delhi|               2019|             63.44|
|          KTM|Delhi|               2018|             64.75|
|          KTM|Delhi|               2017|             92.63|
|     Kawasaki|Delhi|               2017|57.129999999999995|
|     Kawasaki|Delhi|               2019| 73.14333333333335|
|Royal Enfield|Delhi|               2018| 56.24333333333334|
|Royal Enfield|Delhi|               2016| 83.10000000000001|
|Royal Enfield|Delhi|               2017|             78.23|
+-------------+-----+-------------------+------------------+
only showing top 20 rows